<!DOCTYPE html>
<html lang="en" class="theme-light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verifier</title>
    <link rel="stylesheet" href="/static/bulma.min.css">
    <link rel="stylesheet" href="/static/styles.css">
    <script type="importmap">
    {
        "imports": {
            "@andypf/json-viewer": "https://cdn.jsdelivr.net/npm/@andypf/json-viewer@2.2.0/+esm"
        }
    }
    </script>
    <script src="/static/callback.js" type="module"></script>
</head>
<body>
    <section class="section" x-data="app">
        <div class="container" style="max-width: 500px;">
            <h1 class="title has-text-weight-bold is-size-2 is-flex is-justify-content-center is-align-items-center is-gap-2" x-ref="title">
                <svg width="40" height="40" aria-label="SUNET">
                    <image href="/static/logo.svg" width="40" height="40"></image>
                </svg>
                <span>Verifier</span>
            </h1>
            <div class="box container">
                <div class="block is-flex is-justify-content-center is-align-items-center is-flex-direction-column is-fullwidth">
                    <svg class="has-text-success mb-2" style="width:100px" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M21.801 10A10 10 0 1 1 17 3.335"></path><path d="m9 11 3 3L22 4"></path></svg>
                    <p class="title is-size-4 has-text-success">Success</p>
                </div>
                <hr>
                {{range .CredentialData}}
                    <div class="block">
                        <h2 class="title is-size-5 mb-2">Credential claims</h2>
                        {{if eq (len .Claims) 0}}
                            <p><em>No claims available.</em></p>
                        {{else}}
                            <div class="table-container">
                                <table class="table is-fullwidth is-hoverable">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Value</th>
                                        </tr>
                                    </thead>
                                    {{range .Claims}}
                                    <tr>
                                        <td>{{.ClaimName}}</td>
                                        <td><code>{{.Value}}</code></td>
                                    </tr>
                                    {{end}}
                                </table>
                            </div>
                        {{end}}
                    </div>
                    <div class="block">
                        <h2 class="title is-size-5 mb-2">Credential data</h2>
                        <div class="has-border-radius is-overflow-hidden">
                            <andypf-json-viewer 
                                indent="2"
                                expanded="false"
                                theme="google-dark"
                                show-data-types="true"
                                show-toolbar="false"
                                expand-icon-type="arrow"
                                show-copy="true"
                                show-size="true"
                            >{{toJSON .Credential}}</andypf-json-viewer>
                        </div>
                    </div>
                {{end}}
            </div>
        </div>
    </section>
</body>
</html>