# SAML Configuration Example for VC Issuer
# This file demonstrates how to configure SAML authentication for credential issuance

issuer:
  identifier: "SUNET_v1"
  api_server:
    addr: :8080
  grpc_server:
    addr: vc_dev_issuer:8090
  signing_key_path: "/private_ec256.pem"
  issuer_url: "http://172.16.50.2:8080"
  wallet_url: ""
  jwt_attribute:
    issuer: https://issuer.sunet.se
    enable_not_before: true
    valid_duration: 3600
    verifiable_credential_type: "https://credential.sunet.se/identity_credential"
    static_host: "http://vc_dev_portal:8080/statics"
  
  # SAML Service Provider Configuration
  saml:
    # Enable or disable SAML authentication (default: false)
    enabled: true
    
    # SAML Entity ID for this Service Provider
    # This should be a unique identifier, typically a URL
    entity_id: "https://issuer.sunet.se/saml/sp"
    
    # MDQ (Metadata Query Protocol) server URL
    # Used to dynamically fetch IdP metadata
    # Example: Swedish SWAMID MDQ: https://mds.swamid.se/md
    mdq_server: "https://mds.swamid.se/md"
    
    # Path to X.509 certificate for SAML signing/encryption
    certificate_path: "/pki/saml_sp.crt"
    
    # Path to private key corresponding to the certificate
    private_key_path: "/pki/saml_sp.key"
    
    # Assertion Consumer Service (ACS) endpoint
    # This is where the IdP will POST the SAML response
    # Should match the public URL of your issuer + /saml/acs
    acs_endpoint: "https://issuer.sunet.se/saml/acs"
    
    # Session duration in seconds (default: 3600 = 1 hour)
    session_duration: 3600
    
    # Metadata cache TTL in seconds (default: 86400 = 24 hours)
    metadata_cache_ttl: 86400
    
    # Attribute mappings for different credential types
    # Maps SAML attribute OIDs to credential claim names
    attribute_mappings:
      # Person Identification Data (PID)
      - credential_type: "pid"
        default_idp: "https://idp.swamid.se/idp"
        required_attributes:
          - "urn:oid:2.5.4.42"      # givenName
          - "urn:oid:2.5.4.4"       # surname
          - "urn:oid:2.5.4.10"      # organizationName
        attributes:
          "urn:oid:2.5.4.42": "given_name"
          "urn:oid:2.5.4.4": "family_name"
          "urn:oid:2.5.4.10": "organization"
          "urn:oid:0.9.2342.19200300.100.1.3": "email"
          "urn:oid:2.16.840.1.113730.3.1.241": "display_name"
          "urn:oid:1.2.752.29.4.13": "personal_identity_number"  # Swedish personnummer
      
      # Education Diploma Credential
      - credential_type: "diploma"
        default_idp: "https://idp.university.se/idp"
        required_attributes:
          - "urn:oid:2.5.4.42"      # givenName
          - "urn:oid:2.5.4.4"       # surname
          - "urn:oid:1.3.6.1.4.1.5923.1.1.1.1"  # eduPersonAffiliation
        attributes:
          "urn:oid:2.5.4.42": "given_name"
          "urn:oid:2.5.4.4": "family_name"
          "urn:oid:0.9.2342.19200300.100.1.3": "email"
          "urn:oid:1.3.6.1.4.1.5923.1.1.1.1": "affiliation"
          "urn:oid:1.3.6.1.4.1.5923.1.1.1.6": "principal_name"
          "urn:oid:2.5.4.10": "institution"
          "urn:oid:1.3.6.1.4.1.25178.1.2.9": "schac_home_organization"
          "urn:oid:1.3.6.1.4.1.25178.1.2.14": "schac_personal_unique_code"
      
      # European Health Insurance Card (EHIC)
      - credential_type: "ehic"
        default_idp: "https://idp.healthprovider.se/idp"
        required_attributes:
          - "urn:oid:2.5.4.42"      # givenName
          - "urn:oid:2.5.4.4"       # surname
          - "urn:oid:1.2.752.29.4.13"  # Swedish personal identity number
        attributes:
          "urn:oid:2.5.4.42": "given_name"
          "urn:oid:2.5.4.4": "family_name"
          "urn:oid:1.2.752.29.4.13": "personal_identity_number"
          "urn:oid:0.9.2342.19200300.100.1.3": "email"
          "urn:oid:2.16.840.1.113730.3.1.3": "employee_number"

# Common SAML Attribute OIDs Reference:
# ------------------------------------------
# Identity Attributes:
#   urn:oid:2.5.4.42                      - givenName
#   urn:oid:2.5.4.4                       - surname (sn)
#   urn:oid:2.5.4.3                       - commonName (cn)
#   urn:oid:0.9.2342.19200300.100.1.3     - mail
#   urn:oid:2.16.840.1.113730.3.1.241     - displayName
#
# Organization Attributes:
#   urn:oid:2.5.4.10                      - organizationName (o)
#   urn:oid:2.5.4.11                      - organizationalUnitName (ou)
#
# eduPerson Attributes (SAML for education):
#   urn:oid:1.3.6.1.4.1.5923.1.1.1.1      - eduPersonAffiliation
#   urn:oid:1.3.6.1.4.1.5923.1.1.1.6      - eduPersonPrincipalName
#   urn:oid:1.3.6.1.4.1.5923.1.1.1.9      - eduPersonScopedAffiliation
#   urn:oid:1.3.6.1.4.1.5923.1.1.1.10     - eduPersonTargetedID
#
# SCHAC Attributes (European academic attributes):
#   urn:oid:1.3.6.1.4.1.25178.1.2.9       - schacHomeOrganization
#   urn:oid:1.3.6.1.4.1.25178.1.2.14      - schacPersonalUniqueCode
#
# Swedish Attributes:
#   urn:oid:1.2.752.29.4.13               - personalIdentityNumber (Swedish personnummer)
#   urn:oid:1.2.752.201.3.4               - norEduPersonNIN (Nordic personal identity number)
#
# Employment Attributes:
#   urn:oid:2.16.840.1.113730.3.1.3       - employeeNumber
#   urn:oid:2.16.840.1.113730.3.1.4       - employeeType

# MDQ Server Examples:
# ------------------------------------------
# - SWAMID (Swedish academic identity federation): https://mds.swamid.se/md
# - eduGAIN (Global academic identity federation): https://mdq.edugain.org
# - InCommon (US education/research): https://mdq.incommon.org
#
# MDQ Usage:
# To fetch IdP metadata, the system queries: {mdq_server}/{url_encoded_entity_id}
# Example: https://mds.swamid.se/md/https%3A%2F%2Fidp.example.se%2Fidp

# Testing with TestShib:
# ------------------------------------------
# For testing, you can use TestShib (https://www.testshib.org):
#   entity_id: "https://your-issuer.example.com/saml/sp"
#   mdq_server: Leave empty or use local metadata file
#   IdP Entity ID: "https://idp.testshib.org/idp/shibboleth"
#
# Download TestShib IdP metadata from:
#   https://www.testshib.org/metadata/testshib-providers.xml
