.vc-container {
    width: min(500px, 100%);
}

.vc-credential-card {
    border-radius: 3.18mm;
    background-color: var(--bulma-info-95);
}

.vc-table {
    width: 100%;
    background-color: transparent;
}

.vc-radio-label {
    padding: 5px;
    border-radius: 4.18mm;
}

.vc-radio {
    position: absolute;
    z-index: 2;
    transform: scale(2);
    
    &:checked + .vc-radio-label {
        outline: 2px solid var(--bulma-info-80);
        background-color: var(--bulma-info-95);
    }
}

