.vc-container {
    width: min(500px, 100%);
}

.vc-loader {
    min-height: 100px;
    display: grid;
    place-content: center;
    > .loader {
        width: 48px;
        height: 48px;
        border: 5px solid var(--bulma-primary, currentColor);
        border-bottom-color: transparent;
        border-radius: 50%;
        display: inline-block;
        box-sizing: border-box;
        animation: rotation 1s linear infinite;
    }
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} 

.vc-credential-card {
    border-radius: 3.18mm;
    background-color: var(--bulma-info-95);
}

.vc-table {
    width: 100%;
    background-color: transparent;
}

.vc-radio-label {
    padding: 5px;
    border-radius: 4.18mm;
}

.vc-radio {
    position: absolute;
    z-index: 2;
    transform: scale(2);
    
    &:checked + .vc-radio-label {
        outline: 2px solid var(--bulma-info-80);
        background-color: var(--bulma-info-95);
    }
}

.vc-cancel-button {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: var(--bulma-text-50);
    border-color: currentColor;

    &:hover {
        /* color: white; */
        color: var(--bulma-danger);
        background-color: var(--bulma-danger-95);
    }

    > .icon {
        width: 1em;
        height: 1em;
        margin-bottom: 2px;
    }
}